Release/
Origami-Unity/Assets/WSATestCertificate.pfx
Origami-Unity/Assets/WSATestCertificate.pfx.meta
Origami-Unity/Assets/3rdparty/MixedRealityToolkit.Generated/ProjectPreferences.asset
Origami-Unity/ProjectSettings/EditorBuildSettings.asset
Origami-Unity/ProjectSettings/InputManager.asset
Origami-Unity/ProjectSettings/ProjectSettings.asset